<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Website</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div class="heading">My Website</div>
<div class="main">
    <p>Hello,</p>
    <p>My name is Jake and this is my website!</p>
</div>
<div class="p2">
    <p>
        <i class="fa fa-github" style="font-size:36px"></i>
        <a href="https://github.com/jakepriddle">Github</a>
    </p>
</div>

</body>
</html>